
.btn-rounded {
    border-radius: 30px;
}

.btn-bordered {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 30px;
    border-width: 2px;
}
.btn-bordered:hover {
    color: #ffffff;
}
.btn-bordered.btn-primary {
    border-color: #06c5ac;
    color: #06c5ac;
}
.btn-bordered.btn-primary:hover {
    background: #06c5ac none repeat scroll 0 0;
    color: #ffffff;
}
.btn-bordered.btn-info {
    border-color: #80b1cb;
    color: #80b1cb;
}
.btn-bordered.btn-info:hover {
    background: #80b1cb none repeat scroll 0 0;
    color: #ffffff;
}
.btn-bordered.btn-warning {
    border-color: #e8b769;
    color: #e8b769;
}
.btn-bordered.btn-warning:hover {
    background: #e8b769 none repeat scroll 0 0;
    color: #ffffff;
}
.btn-bordered.btn-success {
    border-color: #a2d19e;
    color: #a2d19e;
}
.btn-bordered.btn-success:hover {
    background: #a2d19e none repeat scroll 0 0;
    color: #ffffff;
}
.btn-bordered.btn-danger {
    border-color: #d57d6d;
    color: #d57d6d;
}
.btn-bordered.btn-danger:hover {
    background: #d57d6d none repeat scroll 0 0;
    color: #ffffff;
}
.btn-bordered.disabled {
    color: #717171;
}

.btn-inverse {
    background-color: #555;
    border-color: #3c3c3c;
    color: #fff;
}

.btn-oval, .btn-pill-left {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 18px;
}
.btn-oval, .btn-pill-right {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 18px;
}
.ba-wizard-progress {
    margin-top: 10px;
    height: 10px;
}
.ba-wizard-pager .previous {
    float: left;
}
.ba-wizard-pager .next {
    float: right;
}
.ba-wizard-navigation-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 15px 0;
}
.ba-wizard-navigation-container .ba-wizard-navigation {
    cursor: pointer;
    display: table-cell;
    line-height: 1;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    opacity: .7;
}
.ba-wizard-navigation-container .ba-wizard-navigation.active {
    opacity: .95;
}
.tooltip.tooltip-pink .tooltip-inner {
        background-color: #FF0000 !important;
        }
 .tooltip.tooltip-pink .tooltip-arrow {
          border-top-color: #FF0000 !important;
        }

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
